@tailwind base;
@tailwind components;
@tailwind utilities;

.border-gradient {
  border-bottom: 1px solid;
  border-image: linear-gradient(90deg, #FFFFFF -10.57%, rgba(255, 255, 255, 0) 110.57%);
  border-image-slice: 1;
  border-image-width: 1;
}

.fade-in {
  opacity: 0;
  transition: opacity 1s;
  animation-delay: 1s;
}

.fade-in.active {
  opacity: 1;
}
